.wallet-adapter-button {
  font-size: 2rem !important;
  padding: 2.5rem 3rem !important;
  border-radius: 16px !important;
  background-color: #2d2d2d !important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
  font-weight: bold !important;
  transition: background-color 0.2s ease-in-out !important;
}
.wallet-adapter-button:hover { background-color: #444 !important; }
